body{
  background-color:#1e6969;
  color: antiquewhite;
}
.container{
  padding: 10px;
}
.jumbo-color{
  background-color: #027570 ;
  font-size: 8px;
}
.form-control{
  background-color: #70dfdb;
}
label {
  font-size: 26px;
  font-weight: bold;
}