{% extends 'user/home.html' %}
{% load static %}
{% block title %} <title>Sign Up Page </title>{% endblock title %}
{% block content %}
<form action="" method="post" autocomplete='off' novalidate> {% csrf_token %}
    <br>
    <div class="row g-3 ms-4">
        <div class="col-md-5">
          {{form.first_name.label_tag}} <br><br>{{form.first_name}}
        <small class='text-danger'>{{form.first_name.errors|striptags}}</small> <br> 
        </div>
        <div class="col-md-5">
        {{form.last_name.label_tag}} <br><br>{{form.last_name}} <br>
        <small class='text-danger'>{{form.last_name.errors|striptags}}</small> <br>
        </div>
        <div class="col-md-5">
        {{form.username.label_tag}} <br><br>{{form.username}} <br>
        <small class='text-danger'>{{form.username.errors|striptags}}</small> <br>
        </div>
        <div class="col-md-5">
        {{form.email.label_tag}} <br><br>{{form.email}} <br>
        <small class='text-danger'>{{form.email.errors|striptags}}</small> <br>
        </div>
        <div class="col-md-5">
        {{form.password1.label_tag}}<br><br> {{form.password1}} <br>
        <small class='text-danger'>{{form.password1.errors|striptags}}</small> <br>
        </div>
        <div class="col-md-5">
        {{form.password2.label_tag}}<br><br> {{form.password2}} <br>
        <small class='text-danger'>{{form.password2.errors|striptags}}</small> <br>
        </div>
    </div> <br>
  <button type="submit" class="btn btn-primary ms-5"><b>Submit</b></button>
  <br>
  {% if form.non_field_errors %}
    {% for error in form.non_field_errors %}
    <p class='alert alert-danger my-3'> {{error}}</p>
    {% endfor %}
  {% endif %}
  <br>
  {% if messages %}
    {% for msg in messages %}
       <p {% if msg.tags %} class='alert alert-{{msg.tags}} mb-5' {% endif %}>{{msg}} </p>
    {% endfor %}
  {% endif %}
</form>
{% endblock content %}