{% extends 'user/home.html' %}
{% load static %}
{% block title %} <title>Update Post Page </title>{% endblock title %}
{% block content %}
<div class="col-sm-10 mb-5">
  <h3 class='text-#420e0a ms-5'>Dashboard/ Update Your Post:</h3>
  <form action="" autocomplete='off' method="post" novalidate> {% csrf_token %}
    <div class="col-md-10 ms-5">
      {% for fm in form %}
        <br>{{fm.label_tag}} <br><br>{{fm}}<small class='text-warning'> <br>{{fm.errors|striptags}}</small><br> 
      {% endfor %}
    </div> <br>
    <div class="col-sm-5 ms-5">
      <button type="submit" class="btn btn-light">Update Post</button> &nbsp
      <a href="{% url 'profile' %}" class="btn btn-warning">Dashboard</a>
    </div>
  
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
      <p class='alert alert-danger my-3'> {{error}}</p>
      {% endfor %}
    {% endif %}
    {% if messages %}
    {% for msg in messages %}
      <p {% if msg.tags %} class='alert alert-{{msg.tags}} mb-5' {% endif %}> {{msg}} </p>
    {% endfor %} <br>
  {% endif %}
  </form>
</div>
{% endblock content %}